<p><h2>Assignment Deadline Reminder</h2></p>
<p>Hello <span>{{name}}</span></p>
<p>Assignment <b>{{assignmentName}}</b> from course <b>{{courseName}}</b> is due on <b>{{deadlineText}}</b>. Please visit the E-learning platform for more</p>