<p><h2>Verify Email</h2></p>
<p>Welcome {{name}}.</p>
<p>Complete your <strong>AASTU E-learning</strong> account registration by using the link <a href="{{url}}">here</a></p>

<p>Your password is <span style="background-color: #e4e4e4;">{{password}}</span></p>